<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <!-- Use a different task affinity so this activity doesn't close other activities -->
        <activity
            android:name="io.github.sds100.keymapper.api.LaunchKeyMapShortcutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".PauseMappingsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.sds100.keymapper.ACTION_PAUSE_MAPPINGS" />
                <action android:name="io.github.sds100.keymapper.ACTION_RESUME_MAPPINGS" />
                <action android:name="io.github.sds100.keymapper.ACTION_TOGGLE_MAPPINGS" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".TriggerKeyMapsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.sds100.keymapper.ACTION_TRIGGER_KEYMAP_BY_UID" />
            </intent-filter>
        </receiver>

        <!--    TODO does this service still have the same component name even though it is in a different module?    -->
        <!-- Don't require a permission because we want other apps to bind
         to this service. The permission wouldn't be signature-level so
         if a nefarious app wants to talk to Key Mapper they could add the permission anyway. -->
        <service
            android:name=".KeyEventRelayService"
            android:exported="true"
            tools:ignore="ExportedService" />

    </application>
</manifest>