<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission android:name="io.github.sds100.keymapper.ci.KEY_EVENT_RECEIVER">
        <!--    I would make this have signature protection level
                but I already released the Key Mapper GUI Keyboard
                with a different signature -->
    </permission>

</manifest>