<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- The provider requires the INTERACT_ACROSS_USERS_FULL permission as a crude way
         to ensure only the system bridge can write to it. This permission is only granted
         to system apps, such as the Shell package, so 3rd party apps can never connect.. -->
        <provider
            android:name=".provider.PrivBinderProvider"
            android:authorities="${applicationId}.priv"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>
</manifest>