<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission android:name="io.github.sds100.keymapper.debug.KEY_EVENT_RELAY_SERVICE">
        <!--    I would make this have signature protection level
                but I already released the Key Mapper GUI Keyboard
                with a different signature -->
    </permission>

    <application>
        <!--   Use the debug permission for key event relay service. -->
        <service
            android:name=".api.KeyEventRelayService"
            android:exported="true"
            android:permission="io.github.sds100.keymapper.debug.KEY_EVENT_RELAY_SERVICE"
            tools:replace="android:permission" />

    </application>
</manifest>