name: Android CI

on:
  push:
    branches: 
      - 'develop'
      - 'develop-2.0'

jobs:
  apk:
    name: Generate APK
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build debug APK
        run: bash ./gradlew assembleCi --stacktrace
      - name: Upload APK
        uses: actions/upload-artifact@v1
        
        with:
          name: app-ci
          path: app/build/outputs/apk/ci/app-ci.apk
