name: Production - build and release app

on:
  push:
    branches:
      - 'master'

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Unit tests
        run: bash ./gradlew testDebugUnitTest

  apk:
    name: Build and release to production
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'oracle'
          java-version: 17
          cache: 'gradle'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: set up Ruby for fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Install bundle
        run: bundle install

      - name: Create keystore
        env:
          KEYSTORE: ${{ secrets.KEYSTORE }}
        run: echo "$KEYSTORE" | base64 --decode > app/keystore.jks

      - name: Create Google Play service account key
        env:
          GOOGLE_PLAY_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT }}
        run: echo "$GOOGLE_PLAY_SERVICE_ACCOUNT" | base64 --decode > app/play-service-account-key.json

      - name: Build apk with fastlane
        run: bundle exec fastlane prod github_token:${{ secrets.GITHUB_TOKEN }}
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}