name: Testing - build and release app

on:
  push:
    branches:
      - 'develop'

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'oracle'
          java-version: 17
          cache: 'gradle'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Unit tests
        run: bash ./gradlew testDebugUnitTest

  style:
    name: Code style check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'oracle'
          java-version: 17
          cache: 'gradle'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Ktlint check
        run: ./gradlew ktlintCheck

  apk:
    name: Generate and upload APK to Discord
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - uses: christian-draeger/write-properties@1.0.1
        with:
          path: app/version.properties
          property: VERSION_NUM
          value: ${{ github.run_number }}

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'oracle'
          java-version: 17
          cache: 'gradle'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: set up Ruby for fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Create debug keystore
        env:
          CI_KEYSTORE: ${{ secrets.CI_KEYSTORE }}
        run: |
          echo "$CI_KEYSTORE" | base64 --decode > /home/runner/.android/debug.keystore

      - name: Install bundle
        run: bundle install

      - name: Set Git credentials
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com

      - name: Build apk with fastlane
        run: bundle exec fastlane testing

      - name: set apk name env
        run: echo "APK_NAME=$(basename app/build/outputs/apk/ci/*.apk .apk)" >> $GITHUB_ENV

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.APK_NAME }}
          path: app/build/outputs/apk/ci/${{ env.APK_NAME }}.apk

      - name: Upload to Discord
        uses: sinshutu/upload-to-discord@v2.0.0
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: app/build/outputs/apk/ci/${{ env.APK_NAME }}.apk

      - name: Report build status to Discord
        uses: sarisia/actions-status-discord@v1
        if: failure()
        with:
          title: "Build apk"
          webhook: ${{ secrets.DISCORD_BUILD_STATUS_WEBHOOK }}